body {
  margin: 15px 0px;
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html{
  overflow-x: hidden;
  overflow-y: auto;
}

header{
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: "georgia", serif;
  font-size: 36px;
  color: #111111;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 4.6px;
  /* line-height: 30px; */
}

h2{
  margin-bottom: 20px;
  font-family: "verdana", sans-serif;
  font-size: 32px;
  color: #111111;
  font-style: normal;
  text-align: center;
}

h3{
  margin-bottom: 20px;
  font-family: "verdana", sans-serif;
  font-size: 28px;
  color: #111111;
  font-style: normal;
  /* font-weight: bold; */
  /* font-variant: small-caps; */
  text-align: center;
}

.welcome p {
  text-align: justify;
}

.food{
  text-align: center;
}

.footer{
  text-align: center;
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
}

.titoloPagina{
  font-variant: small-caps;
}

#listaCarrello{
  list-style-type: none;
  padding: 2px;
  /* display: inline-block; */
  display: block;
  width: 100%;
  column-count: 2;
  margin: 0;
}

#listaCarrello li{
  /* margin: 10px 2px; */
  /* display: inline-block; */
  display:block;
  /* float: left; */
  margin-left: 5%;
  break-inside: avoid-column;
}

#listaCarrello h3{
text-align: center;
margin-bottom: 5px;
font-size: 18px;
}

#totalPrice{
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  margin: 10px;
  padding: 10px;
  /* border: thin solid black;
  background-color: #e0e09a;*/
  /* box-shadow: 5px 5px 2px grey; */
  /* border-radius: 25px; */
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #42dff4;
}

.main{
  margin: 10px 2px;
  padding: 5px;
}

.col-sm-10, .col-sm-6{
  padding: 0px 2px;
}

nav{
  border-radius: 25px;
  margin: 2px 20px;
}

#registration_link, .removeFood{
  color: #3718e2;
}

.quantityCart {
  margin-left: 30px;
  padding-left: 10px;
  width: 60px;
}

.nav-cart-food{
  margin-bottom: 30px;
  border: 1px solid #313D42;
  text-align: center;
  background-color: white;
}

.nav-cart-food p, label, a{
  margin-bottom: 2px;
  padding: 8px;
}

.nav-cart-food h3{
  padding: 8px;
}

p.introduction{
  text-align: center;
  margin: 0px;
}

.desktop {
  width: 150px;
  height: 150px;
}

.mobile {
  width: 50px;
  height: 50px;
  display: none;
}

.navbar-brand{
  display:none;
  text-align: center;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 180, 74, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

li.nav-item-food{
  /* margin: 15px 10px 0px 10px; */
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  break-inside: avoid-column;
}

.nav-item-food button{
  border-radius: 0;
}

h3.food{
  margin-bottom: 20px;
}

ul#foodList{
  list-style-type: none;
  text-align: center;
  height: 65vh;
  min-height: 65vh;
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  width: 100%;
  /* column-count: 2; */
}

.button-name, .buttonAggiungi{
  width: 235px;
  display: block;
  margin: 0 auto;
}

.popover{
  width: 220px;
  height: 75px;
  min-height: 75px;
  max-height: 100%;
  overflow: auto;
  word-wrap: break-word;
  overflow-y: scroll;
}

#tasto_pagamento{
  margin-bottom: 10px;
  width: 50%;
}

#stamparicevuta{
  width: 50%;
}

.bottonipagamento{
  margin-top: 30px;
  display: block;
}

#formpagamento{
  text-align: center;
}

#elencoNotifiche{
  padding: 50px;
  /* display: flex;
  flex-direction: column-reverse; */
  margin-bottom: 0;
  margin-top: 10px;
  list-style-type: none;
  height: 50vh;
  min-height: 50vh;
  max-height: 100vh;
  overflow-y: scroll;
}

.notification-item {
  /* background-color: #5d676b;
  color: white; */
  /* flex: 0 0 auto; */
  border: 1px solid #313D42;
  font-size: 16px;
  margin-bottom: 20px;
}

.notification-item p{
  padding: 30px;
  background-color: white;
  margin-bottom: 0;
}

.notification-item h4{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 5px;
  /* margin-top: 5px; */
}

.messaggio-notifica{
  text-align: left;
  padding: 10px 50px;
}

.lettura-notifica{
  text-align: center;
}

.no-notification{
  text-align: center;
}

.divRimuoviNotifiche{
  margin: 20px auto 5px auto;
  text-align: center;
}

.buttonRimuoviNotifiche{
  width: auto;
}

#filtri-alimenti{
  text-align: center;
}

#filtri-alimenti button{
  margin-top: 15px;
  margin-bottom: 30px;
}

#containerfiltri{
  column-count: 2;
}

.divfiltri{
  text-align: left; /*overwrites text align center of #filtri-alimenti*/
  display: block;
  margin-left: 33%;
  break-inside: avoid-column;
}

#vaialcarrello{
  margin-top: 30px;
}

#listino{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  height: 55vh;
  min-height: 55vh;
  max-height: 100vh;
  overflow-y: scroll;
  display: block;
  width: 100%;
  /* column-count: 2; */
}

.buttonAggiungiAlimento{
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 20px;
}

#listino label{
  padding-right: 0;
}

#listino input:not([type=submit]){
  text-align: right;
  padding-right: 5px;
}

.div-listino-item{
  display: inline;
  text-align: left;
}

.listino-item{
  margin-top: 20px;
  margin-bottom: 50px;
}

.listino-item-id{
  width: 40px;
}

.listino-item-nome{
  width: 200px;
}

.listino-item-rimanenze{
  width: 40px;
}

.listino-item-quantitadaordinare{
  width: 60px;
}

.listino-item-rimuovi, .listino-item-ordina{
  display: block;
  width: 50%;
  margin: 10px auto 30px auto;
  text-align: center;
}

.listino-item-ordina{
  margin-top: 40px;
  margin-bottom: 15px;
}

#formAggiungiAlimento{
  display: block;
}

.divAggiungiAlimento{
  display: block;
  text-align: center;
  margin: 20px;
}

.divAggiungiAlimento input, textarea{
  width: 100%;
  padding: 10px;
}

#submitAggiungiAlimento{
  margin: 0 auto;
}

@media (max-width: 768px) {

    .mobile {
      display: inline-block;
      width: 50%;
      height: 50%;
    }

    .desktop {
      display: none;
    }

    .home-header {
      display: none;
    }

    .navbar-brand{
      display: inline;
      text-align: center;
      width: 200px;
      font-family: "georgia", serif;
      font-style: normal;
      font-weight: bold;
      font-variant: small-caps;
      letter-spacing: 2px;
    }

    nav{
      margin: 0px;
      padding: 0px;
      border-radius: 0px;
    }

    .nav-item{
      padding-left: 12px;
      padding-right: 12px;
    }

    body{
      margin: 0px;
    }

    #tasto_pagamento{
      margin-bottom: 10px;
      width: 100%;
    }

    #stamparicevuta{
      width: 100%;
    }

    h2{
      margin-bottom: 10px;
    }

    h3{
      margin-bottom: 10px;
      font-size: 20px;
    }

    #totalPrice{
      margin-top: 10px;
    }

    section{
      margin: 2px;
      padding: 2px;
    }

    #elencoNotifiche{
      padding: 20px;
    }

    .messaggio-notifica{
      padding: 7px;
    }

    li.nav-item-food{
      padding: 5px;
    }

    .notification-item p{
      padding: 15px;
    }

    .divfiltri{
      margin-left: 25%;
    }

    .div-listino-item{
      display: block;
      margin-left: 25%;
    }

    #listino input:not([type=submit]){
      float: right;
      margin-right: 35%;
      margin-top: 6px;
      margin-bottom: 4px;
    }

    .listino-item-rimuovi, .listino-item-ordina{
      margin: 6px 0 4px 10%;
    }

    .divAggiungiAlimento{
      margin: 10px;
    }

    .divAggiungiAlimento input, textarea{
      padding: 5px;
    }

  } /*Closing media query 768px*/

  @media (max-width: 600px) {

    #listaCarrello{
      column-count: 1;
    }

    #listaCarrello li{
      display: block;
    }

    .notification-item p{
      padding: 10px;
    }

    .divfiltri{
      margin-left: 5%;
    }

    #listino input:not([type=submit]){
      float: right;
      margin-right: 15px;
    }

    .div-listino-item{
      margin-left: 0;
    }

    #listino label{
      padding-left: 0;
    }

    .listino-item-rimuovi, .listino-item-ordina{
      width: 60%;
      margin-left: 20%;
      margin-top: 6px;
    }

    .listino-item-nome{
      width: auto;
    }

    /*     #listino input:not([type=submit]){
          float: right;
          margin-right: 35%;
          margin-top: 6px;
          margin-bottom: 4px;
        }

        .listino-item-rimuovi, .listino-item-ordina{
          margin: 6px 0 4px 10%;
        } */

  } /*closing media query 600px*/

/* INIZIO Codice per barra verticale */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* FINE Codice per barra orizzontale alimenti */

/* Il seguente codice serve per allineare "Spedisci a " con l'opzione "Campus di Cesena" in carrello.php */

input[type="radio"]{
  display: inline;
}

/* Il seguente codice serve per far funzionare in registrazione.php il placeholder di datanascita */

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}
